<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <!--  <app-stat></app-stat>-->
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0" style="display: flex;justify-content: space-between;align-items: center">
          <h3 class="mb-0">My Tasks</h3>
        </div>
        <div class="row" style="padding: 0.5rem 1rem;">
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <input type="date" class="form-control" placeholder="Start Date" [(ngModel)]="startdate" name="startdate"/>
          </div>
          <div class="col-md-2">
            <input type="date" class="form-control" placeholder="End Date" [(ngModel)]="enddate" name="enddate"/>
          </div>
          <div class="col-md-2">
            <select class="form-control" [(ngModel)]="status" name="status">
              <option [value]="null">Select Status</option>
              <option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title" name="title"/>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary" (click)="getAllMissions(0)">Filter</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">description</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Status</th>
              <th scope="col">evolution Percentage</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mission of this.paginatedMissions.elements">
              <td>
                {{ mission.title }}
              </td>
              <td>
                {{ mission.description? mission.description:'-'}}
              </td>
              <td>
                {{ mission.startdate | date }}
              </td>
              <td>
                {{ mission.enddate | date }}
              </td>
              <td>
                <span class="badge badge-dot mr-4">
                  <i class="bg-warning" *ngIf="mission.status === 'IN_PROGRESS'"></i>
                  <i class="bg-success" *ngIf="mission.status === 'COMPLETED'"></i>
                  <i class="bg-danger" *ngIf="mission.status === 'CANCELLED'"></i>
                  <i class="bg-secondary" *ngIf="mission.status === 'OVERDUE'"></i>
                  <i class="bg-info" *ngIf="mission.status === 'PENDING'"></i>
                  {{ mission.status }}
                </span>
              </td>
              <td>
                {{ mission.evolutionPercentage?mission.evolutionPercentage:'-' }}
                <!--                <div class="d-flex align-items-center">-->
                <!--                  <span class="mr-2">60%</span>-->
                <!--                  <div>-->
                <!--                    <div class="progress">-->
                <!--                      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->
              </td>
              <td class="text-right">
                <i class="fa-solid fa-rotate" style="cursor:pointer;font-size: 1.2rem;padding: 0 0.5rem"
                   (click)="setBudgetId(mission.id)" data-toggle="modal" data-target="#StatusModal" title="Update Status" ></i>
                <i class="fa-solid fa-percent" *ngIf="mission.status === 'PENDING' || mission.status === 'IN_PROGRESS'" style="cursor:pointer;font-size: 1.2rem;padding: 0 0.5rem"
                   data-toggle="modal" data-target="#denyModal" title="Update progress" (click)="setBudgetId(mission.id)"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item" [class.disabled]="paginatedMissions.page === 0">
                <a class="page-link" (click)="getAllMissions(paginatedMissions.page - 1)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <ng-container *ngFor="let page of [].constructor(paginatedMissions.pages); let i = index">
                <li class="page-item" [class.active]="i === paginatedMissions.page">
                  <a class="page-link" (click)="getAllMissions(i)">{{ i + 1 }}</a>
                </li>
              </ng-container>
              <li class="page-item" [class.disabled]="paginatedMissions.page === paginatedMissions.pages - 1">
                <a class="page-link" (click)="getAllMissions(paginatedMissions.page + 1)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="denyModal" tabindex="-1" role="dialog" aria-labelledby="denyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="denyModalLabel">Update peogress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>what is your progress ?</p>
        <div class="form-group">
          <label for="denyReason">Progress that has been made:</label>
          <input type="number" min="0" max="100" class="form-control" id="denyReason" [(ngModel)]="progress"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="update_status(budgetId, progress)">Update</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="StatusModal" tabindex="-1" role="dialog" aria-labelledby="StatusModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="StatusModalLabel">Status Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Select the new status for this transaction</p>
        <div class="form-group">
          <label for="statusSelect">Status</label>
          <select class="form-control" id="statusSelect" [(ngModel)]="selectedStatus">
            <option value="">Select Status</option>
            <option value="CANCELLED">CANCELLED</option>
            <option value="COMPLETED">COMPLETED</option>
            <option value="IN_PROGRESS">IN_PROGRESS</option>
            <option value="PENDING">PENDING</option>
            <option value="OVERDUE">OVERDUE</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="UpdateStat(budgetId, selectedStatus)">Update</button>
      </div>
    </div>
  </div>
</div>
