<!--<div class="header bg-gradient-info py-7 py-lg-8">-->
<!--</div>-->
<!--&lt;!&ndash; Page content &ndash;&gt;-->
<!--<div class="container mt&#45;&#45;8 pb-5">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-lg-5 col-md-7">-->
<!--      <div class="card bg-secondary shadow border-0">-->
<!--        <div style="width: 100%;display: flex;justify-content: center">-->
<!--          <img src="assets/img/brand/tt_transparent.png" style="width: 30%;padding-top: 2rem" />-->
<!--        </div>-->
<!--        <div class="card-body px-lg-5 py-lg-5">-->

<!--          <form role="form" [formGroup]="login">-->
<!--            <div class="form-group mb-3">-->
<!--              <div class="input-group input-group-alternative">-->
<!--                <div class="input-group-prepend">-->
<!--                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>-->
<!--                </div>-->
<!--                <input class="form-control" placeholder="Email" type="email" formControlName="username">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <div class="input-group input-group-alternative">-->
<!--                <div class="input-group-prepend">-->
<!--                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>-->
<!--                </div>-->
<!--                <input class="form-control" placeholder="Password" type="password" formControlName="password">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--              <button type="button" class="btn btn-primary my-4" (click)="signin()">Sign in</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row mt-3">-->
<!--        <div class="col-6">-->
<!--          <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="main-container">
  <div class="mask"></div>
  <div class="main-card">
    <div class="title">
      <span>Sign in to Smartyy</span>
    </div>
    <div class="form-container" [formGroup]="login">
      <input type="email" placeholder="Email" formControlName="username">
      <input [type]="see?'text':'password'" placeholder="Password" formControlName="password">
      <span class="password_show" [class.bared]="!see" (click)="see = !see">show password</span>
      <button class="btn-danger btn" (click)="signin()">Sign in</button>
    </div>
  </div>
</div>
