<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://img.freepik.com/free-photo/skyscrapers-from-low-angle-view_1359-568.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{LoggedCurrentUser?.name}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can edit your profile details using the form below</p>
        <span class="btn btn-info" (click)="Readonly = !Readonly">Edit profile</span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="update">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">First Name</label>
                    <input [readOnly]="Readonly" type="text" id="input-username" formControlName="firstname" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Last Name</label>
                    <input [readOnly]="Readonly" type="email" id="input-email" formControlName="lastname" class="form-control form-control-alternative" placeholder="jesse@example.com">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Phone Number</label>
                    <input [readOnly]="Readonly" type="text" id="input-first-name" formControlName="phonenumber" class="form-control form-control-alternative" placeholder="First name" value="Lucky">
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" *ngIf="!Readonly" (click)="Update()">Update</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
