.Activation {
  position: relative; /* Required for positioning the pseudo-element */
  margin-right: 2rem;
  margin-left: 0.5rem;
  color: white!important;
  text-align: start;
  background: rgba(245, 54, 92, 0.5);
  border-left: 5px solid var(--danger);
  padding-right: 1.5rem; /* Add some padding to the right for the pseudo-element */
  i{
    color: white!important;
    top: unset !important;
  }
}

.Activation::after {
  content: '';
  position: absolute;
  right: -44px; /* Adjust to position the arrow */
  top: 50%;
  transform: translateY(-50%);
  border: 23px solid transparent; /* Triangle shape */
  border-left-color: rgba(245, 54, 92, 0.5); /* Color of the arrow */
}
