<div class="header bg-gradient-info pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Form -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0" style="display: flex;justify-content: space-between;align-items: center">
          <h3 class="mb-0">Update Mission Participants</h3>
        </div>
        <div class="card-body">
          <div class="alert alert-danger" role="alert" *ngIf="Error">
            {{Error}}
          </div>
          <div class="alert alert-success" role="alert" *ngIf="Success">
            {{Success}}
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="Warning">
            {{Warning}}
          </div>
          <form [formGroup]="missionForm" >
            <div class="form-group">
              <label for="idTechniciens">Technicians</label>
              <select id="idTechniciens" class="form-control" formControlName="idTechniciens" multiple >
                <option *ngFor="let technician of technicians" [value]="technician.id">{{ technician.name }}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
